.work {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  .work__img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 20px;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      background: rgba(0, 0, 0, 0.2);
    }

    .btn__block {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 40%;
    }
  }

  &:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.47);
  }

  .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  &:hover .title {
    top: 60%;
  }
}

@media (max-width: 610px) {
  .example__btn {
    width: 100px;
  }
}