
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contacts__block {
    margin: -10px;
  }

  .container {
    margin-bottom: 30px;
    background-color: rgba(138, 138, 138, 0.05);
  }
}

.form {
  min-width: 300px;

  .input__form {
  }

  .textarea__form {
    width: 100%;
  }

  .btn__block {
    display: flex;
    justify-content: center;
  }

}


