.btn {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 56, 58, 0.82);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(45, 47, 47, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
